*
  margin: 0
  padding: 0

body
  background-color: silver
  font-family: "Gill Sans","Tacoma","Arial",sans-serif

p
  padding-top: 0.75em
  padding-bottom: 0.75em
  
a
  color: #000
  &:hover
    color: #7ED0E0

#main  
  background-color: #fff
  margin: 0 auto
  border: 1px solid silver
  width: 760px
  padding: 25px
  box-shadow: 0px 3px 10px #000
  -moz-box-shadow: 0px 3px 10px #000
  
#menu
  background-color: #58595B
  color: #7ED0E0
  margin: 0 auto
  margin-top: 20px
  width: 760px
  padding: 5px 25px
  -moz-border-radius-topleft: 10px
  -moz-border-radius-topright: 10px
  -box-shadow: 0px 3px 10px #000
  -moz-box-shadow: 0px 3px 10px #000
  .right
    display: inline-block
    float: right
  #notice
    margin: 0 10px
  a
    color: #fff
    text-decoration: none
    padding: 0 5px
    &:hover
      color: #7ED0E0
      
form
  textarea
    width: 100%
    font-family: "Gill Sans","Tacoma","Arial",sans-serif
    padding: 2px 5px
    
span.controls
  float: right
  a
    margin-left: 5px