%h1 Templates

%p
  %a{:href=>"templates/new"} Create a new template

%hr

- @templates.each do |template|
  %p
    = template.name
    %span.controls
      %a{:href=>"templates/#{template.id}/edit"} Edit
      = link_to_delete("templates/#{template.id}")